@{
    ViewBag.Title = "Password Reset Sent";
}
<div class="container mt-5">
    <div class="alert alert-success text-center">
        A password reset link has been sent to your email. Please check your inbox.
    </div>
</div>
